	body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
    body {
          padding-top: 56px;
        }
      }
	  
	#frame
	{
		position: absoolute;
		width:400px;
		margin-left: auto;
		margin-right: auto
		
	}
	  
	.list-group-item
	{
		height: 50px;
		text-align: center;
		border-bottom: 2px solid black;  
		border-left: 2px solid black; 
		border-right: 2px solid black;
		
	}
	
	.textF
	{
		position: relative;
		text-align: left;
		font-style: italic;
		font-size: 30px;
		bottom: 12px;
		font-weight: bold;
	}

	.trash
	{
		position: absolute;
		bottom: 12px;
		left: 370px;
		cursor: pointer;
	}
	
	
	#first
	{
		border-top: 2px solid black;
		height: 250px;
		
		
	}
	
	#counter
	{
		margin-top: 15px;
		font-weight: bold;
		font-size: 30px;
	}
	
	#imageContainer
	{
		bottom: 20px;
		height:80px;
		width:80px;
		margin-top: 20px;
		/* background-image: url("img/bracket.png"); */
	}
	
	.input-group
	{
		bottom: 8px;
		
		
	}
	
	/* The container */
.container2 {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	bottom: 25px;
	left: 340px;
	
}

/* Hide the browser's default checkbox */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
	
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
	border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
    background-color: #6c757d;
	
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
    background-color: #191919d9;
	
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
	
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
    display: block;
	
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
	
	
	
}

.scratch
{
	
	text-decoration: line-through;
	
}

.removal
{
	
	background-color:#d5d5d5;
}
